{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Хищные пасти</title>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="login-block">
                <form method="post">
                    <h2>Вход</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="register-link">Нет аккаунта?<a href="{% url 'register' %}">Зарегистрироваться</a></p>
                    <button type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>