.feedback-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin: 200px 0px;
}

.feedback-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.feedback-block-info p {
    max-width: 500px;
    text-align: center;
    font-size: 24px;
}

.review-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.review-list img {
    width: 100%;
    max-width: 800px;
    max-height: 550px;
    border-radius: 16px;
    object-fit: fill;
}

.review-block {
    position: relative;
    display: flex;
}

.review-text {
    position: absolute;
    display: flex;
    align-self: center;
    padding: 0px 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 18px;
    margin: auto;
    max-width: 600px;
    font-size: 24px;
    text-align: center;
    color: var(--fc-secondary);
}

@media screen and (max-width: 391px) {
    .review-text {
        padding: 0px 35px;
        font-size: 14px;
    }

    .review-list img {
        box-sizing: border-box;
        padding: 0 25px;
    }

    .feedback-block {
        gap: 32px;
        margin: 128px 0 64px 0;
    }

    .feedback-block-info p {
        font-size: 18px;
        padding: 0 25px;
    }
}