{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}

{% block content %}
<section id="about-us" class="about-us-section">
    <div class="container">
        <div class="about-us-block">
            <div class="about-us-info">
                <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">"Хищные пасти" — Силиконовые приманки</h1>
                <p> Силиконовые приманки "Хищные пасти" ручной работы для лайта, микроджига и мормышинга на заказ.
                    Большое разнообразие цветов и моделей</p>
                <a href="/works">
                    <button>
                    Смотреть приманки
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 17L21 12L16 7M21 12H3" stroke="#212121" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                </a>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-duration="1000" class="advantages-section">
    <div class="container">
        <div class="advantages-block">
            <h2>Почему мы?</h2>
            <ul class="advantages-block-list">
                <div class="advantages-card">
                    <div>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.5 30C25.5 27.5147 22.1421 25.5 18 25.5C13.8579 25.5 10.5 27.5147 10.5 30M31.5 25.5006C31.5 23.6553 29.6489 22.0694 27 21.375M4.5 25.5006C4.5 23.6553 6.35114 22.0694 9 21.375M27 15.3542C27.9206 14.5302 28.5 13.3327 28.5 12C28.5 9.51472 26.4853 7.5 24 7.5C22.8475 7.5 21.7961 7.93328 21 8.64584M9 15.3542C8.07938 14.5302 7.5 13.3327 7.5 12C7.5 9.51472 9.51472 7.5 12 7.5C13.1525 7.5 14.2039 7.93328 15 8.64584M18 21C15.5147 21 13.5 18.9853 13.5 16.5C13.5 14.0147 15.5147 12 18 12C20.4853 12 22.5 14.0147 22.5 16.5C22.5 18.9853 20.4853 21 18 21Z"
                                stroke="#E2A42B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <h4>Индивидуальный подход</h4>
                        <p>Подбираем цвета и размеры под любой запрос клиента</p>
                    </div>
                </div>
                <div class="advantages-card">
                    <div>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 18L16.5 22.5L24 13.5M6 25.2003V10.8003C6 9.12014 6 8.27943 6.32698 7.6377C6.6146 7.07321 7.07321 6.6146 7.6377 6.32698C8.27943 6 9.12014 6 10.8003 6H25.2003C26.8805 6 27.7194 6 28.3611 6.32698C28.9256 6.6146 29.3857 7.07321 29.6733 7.6377C30 8.2788 30 9.11849 30 10.7954V25.2054C30 26.8822 30 27.7207 29.6733 28.3618C29.3857 28.9263 28.9256 29.3857 28.3611 29.6733C27.72 30 26.8815 30 25.2046 30H10.7954C9.11849 30 8.2788 30 7.6377 29.6733C7.07321 29.3857 6.6146 28.9263 6.32698 28.3618C6 27.7201 6 26.8805 6 25.2003Z"
                                stroke="#E2A42B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <h4>Качество</h4>
                        <p>Приманки изготовлены из качественного силикона и испытаны на разных водоёмах</p>
                    </div>
                </div>
                <div class="advantages-card">
                    <div>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.5 6H23.7003C25.3805 6 26.2201 6 26.8618 6.32698C27.4263 6.6146 27.8857 7.07321 28.1733 7.6377C28.5 8.2788 28.5 9.11849 28.5 10.7954V13.5003L16.5001 13.5001M16.5 6H9.30029C7.62014 6 6.77943 6 6.1377 6.32698C5.57321 6.6146 5.1146 7.07321 4.82698 7.6377C4.5 8.27943 4.5 9.12014 4.5 10.8003V13.5M16.5 6L16.5001 13.5001M4.5 13.5V22.5M4.5 13.5L16.5001 13.5001M4.5 22.5V25.2003C4.5 26.8805 4.5 27.7201 4.82698 28.3618C5.1146 28.9263 5.57321 29.3857 6.1377 29.6733C6.7788 30 7.61849 30 9.29537 30H16.5003L16.5001 13.5001M4.5 22.5H16.5M22.5 24H27M27 24H31.5M27 24V28.5M27 24V19.5"
                                stroke="#E2A42B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <h4>Разнообразие</h4>
                        <p>Большое разнообразие доступных цветов и моделей приманок, основанное на опыте</p>
                    </div>
                </div>
                <div class="advantages-card">
                    <div>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 16.5H6.06822M6.06822 16.5H29.9318M6.06822 16.5C6.08492 16.4228 6.10465 16.3463 6.12744 16.2707C6.18183 16.0902 6.25864 15.9167 6.41309 15.5692L8.73248 10.3506C9.19105 9.3188 9.42072 8.8026 9.78315 8.42432C10.1035 8.08994 10.4965 7.83451 10.9321 7.67756C11.425 7.5 11.99 7.5 13.1191 7.5H22.8804C24.0095 7.5 24.575 7.5 25.0679 7.67756C25.5036 7.83451 25.8959 8.08994 26.2163 8.42432C26.5785 8.80235 26.8077 9.31812 27.2657 10.3485L29.5944 15.5882C29.7433 15.9231 29.819 16.0936 29.8724 16.2707C29.8952 16.3463 29.915 16.4228 29.9318 16.5M6.06822 16.5C6.04953 16.5865 6.03465 16.6737 6.02358 16.7615C6 16.9484 6 17.1385 6 17.5188V25.5M29.9318 16.5H31.5M29.9318 16.5C29.9505 16.5865 29.9655 16.6737 29.9766 16.7615C30 16.9473 30 17.1363 30 17.512V25.5002M30 25.5002L24 25.5001M30 25.5002V26.9998C30 28.6567 28.6569 30 27 30C25.3431 30 24 28.6569 24 27V25.5001M6 25.5H12L24 25.5001M12 25.5V27C12 28.6569 10.6569 30 9 30C7.34315 30 6 28.6569 6 27V25.5"
                                stroke="#E2A42B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <h4>Удобная доставка</h4>
                        <p>Отправим Вам приманки через СДЭК, Почту России, Авито-доставку, Яндекс-доставку</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="links-block">
            <div class="link-block">
                <img src="{% static 'images/about-us.jpg' %}">
                <a href="/works">
                    <button>
                        Смотреть приманки
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 17L21 12L16 7M21 12H3" stroke="#212121" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </a>
            </div>
            <div class="link-block">
                <div class="qr">
                    <img src="{% static 'images/QR.jpg' %}">
                </div>
                <a href="https://vk.com/hishnie_pasti">
                    <button>
                        Вступай в группу ВК!
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 17L21 12L16 7M21 12H3" stroke="#212121" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init(); 
</script>
{% endblock %}

</html>