<section id="order" class="make-order-section">
    <div class="container">
        <div class="make-order-block">
            <h2>Заказать приманки</h2>
            <!-- onSubmit={(e)=> handleOrderFormSubmit(e, selectedColor, selectedModel)} -->
            <form class="order-form" action="POST">
                <input name="contact" type="text" placeholder="Ваш email" required>
                <!-- <Select options={models} styles={customStyles} onChange={setSelectedModel}
                            placeholder="Выберите модель приманки" required />
                        <Select options={colors} styles={customStyles} onChange={setSelectedColor}
                            placeholder="Выберите цвет" required /> -->
                <input name="count" type="number" placeholder="Колличество упаковок" min="1" max="12" required>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>
<section id="feedback" class="feedback-section">
    <div class="container">
        <div class="feedback-block">
            <h2>Отзывы клиентов</h2>
            <div class="feedback-block-info">
                <ul class="feedback-cards-list">
                    <!-- <Card imageUrl='/reactproject/images/fisherman_1.png' clientName='Анна'
                                cardText='Червяк тема рабочая 🪱👍🎣'></Card>
                            <Card imageUrl='/reactproject/images/fisherman_2.png' clientName='Олег'
                                cardText='Приманки 🔥 работают!!! Рекомендуем!!!'></Card>
                            <Card imageUrl='/reactproject/images/fisherman_3.png' clientName='Евгений'
                                cardText='Хороший силикон - хороший улов! Продавец вежливый, отправил быстро и упаковал хорошо!'>
                            </Card> -->
                </ul>
                <!-- onSubmit={handleFeedbackFormSubmit} -->
                <form class="feedback-form" action="POST">
                    <h3>Оставьте отзыв!</h3>
                    <input name="name" type="text" placeholder="Введите ваше имя" required>
                    <textarea type="text" placeholder="Оставьте отзыв" pattern="[A-Za-zА-Яа-яЁё0-9\s]+" minlength="10"
                        maxlength="100" required></textarea>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>