{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="forms-block">
        <div class="title-block">
            <h2>Заказать приманки</h2>
        </div>
        <div class="make-order-block">
            <form class="order-form" method="post">
                {% csrf_token %}
                <p>Оставьте заявку и мы свяжемся с вами в ближайшее время!</p>

                {% if messages %}
                    {% for message in messages %}
                        {% if 'order' in message.extra_tags %}
                            <div class="success-message">{{ message }}</div>
                            {% endif %}
                    {% endfor %}
                {% endif %}

                <input type="hidden" name="form_type" value="order_form">
                {% for field in order_form %}
                {{ field }}
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}

                <button type="submit">Отправить заявку</button>
            </form>
        </div>
        <div class="separator"></div>
        <div class="feedback-block-info">
            <form class="feedback-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Оставьте отзыв о приманках. Это очень важно для нас!</p>

                {% if messages %}
                    {% for message in messages %}
                        {% if 'review' in message.extra_tags %}
                            <div class="success-message">{{ message }}</div>
                            {% endif %}
                    {% endfor %}
                {% endif %}

                <input type="hidden" name="form_type" value="review_form">
                <textarea minlength="10" name="text" placeholder="Напишите его тут" required></textarea>
                {{ form.text }}
                <input class="photo-button" type="file" name="image" accept="image/*">
                <button type="submit">Отправить отзыв</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}